.lang_navigation {
    position: relative;
    cursor: pointer;
    margin-left: 2rem;
}
.lang_navigation button{
    background-color: transparent;
    text-transform: uppercase;
    border: 0;
    color: var(--gray-color);
    cursor: pointer;
    font-size: 1rem;
}

.lang_navigation ul{
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray-color);
    padding: .3rem;
    background-color: var(--theme-color);
}
.lang_navigation ul li{
    text-transform: uppercase;
    color: var(--gray-color);
    font-size: 1rem;
}

.lang_navigation-arrow svg{
    position: relative;
    transform: rotate(180deg);
}
.lang_navigation button:hover,.lang_navigation ul li:hover {
    color: var(--white-color);
}

/* Extra small devices (phones,320px ) */
@media only screen and (max-width: 320px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
.lang_navigation {
        margin-left: 0rem;
    }
.lang_navigation ul li {
    font-size: 2rem;
}
.lang_navigation button {
    font-size: 2rem;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}