.blockquote_section-wrapper{
    margin: 2.6rem 0;
}
.blockquote_section{
    width: 80%;
    margin: 0 auto;
    /* overflow-y: hidden; */
    /* text-align: center; */
}
.blockquote_content {
    position: relative;
    margin: 0 auto;
}
.blockquote_content p{
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray-color);
    padding: 1rem 1rem;
    font-size: 1rem;
}
.blockquote_content h6{
    position: absolute;
    font-size: 1rem;
    right: 0;
    display: inline-block;
    padding: .5rem 1rem;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}
.quote_icon-left{
    position: absolute;
    left: 10%;
    top: 0%;
    transform: translate(-50%, -50%);
    background-color: var(--theme-color);
    width: 1.592rem;
    height: 1.294rem;
    padding: 0 1.5rem
}
.quote_icon-left svg{
    position: relative;
    left: -.8rem;
}
.quote_icon-right{
    position: absolute;
    right: 0%;
    bottom: -10%;
    transform: translate(-30%, 0%);
    background-color: var(--theme-color);
    width: 1.592rem;
    height: 1.294rem;
    padding: 0 1.5rem;
    
}
.quote_icon-right svg {
    position: relative;
    left: -.8rem;
}
.increment{
    transition: color 0.5s;
    color: var(--primary-color);
}


/* Extra small devices (phones,320px ) */
@media only screen and (max-width: 320px) {
   .blockquote_content{
    width: 100%;
   }
}

@media only screen and (min-width: 320px) {
    .blockquote_content {
            width: 100%;
        }

}

@media only screen and (min-width: 480px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 769px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .blockquote_content {
            width: 50%;
        }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}