.blockquote_section{
    width: 80%;
    margin: 0 auto;
    /* text-align: center; */
}
.blockquote_content {
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.blockquote_content p{
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray-color);
    padding: 1rem 1rem;
    font-size: 1rem;
}
.blockquote_content h6{
    position: absolute;
    font-size: 1rem;
    right: 0;
    display: inline-block;
    padding: .5rem 1rem;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}
.quote_icon-left{
    position: absolute;
    left: 7%;
    top: 0%;
    transform: translate(-50%, -50%);
    background-color: var(--theme-color);
    width: 1.592rem;
    height: 1.294rem;
    padding: 0 1.5rem
}
.quote_icon-left svg{
    position: relative;
    left: -.8rem;
}
.quote_icon-right{
    position: absolute;
    right: 0%;
    bottom: -10%;
    transform: translate(-30%, 0%);
    background-color: var(--theme-color);
    width: 1.592rem;
    height: 1.294rem;
    padding: 0 1.5rem;
    
}
.quote_icon-right svg {
    position: relative;
    left: -.8rem;
}
.increment{
    transition: color 0.5s;
    color: var(--primary-color);
}