.theme_button{
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    border-width: 1px;
    border-color: var(--gray-color);
    border-style: solid;
    padding: .5rem 1rem;
    transition: .5s all;
}
.theme_button:hover{
    border-color: var(--primary-color);
    transition: .5s all;
}