.header_logo a{
    display: flex;
    margin: 0;
    text-decoration: none;
    align-items: center;
    flex-direction: row;
    gap: .5rem;

}
.header_logo a span{
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    color: var(--white-color);
    text-transform: capitalize;
}
.header_logo svg{
width: 1rem;
height: 1rem;
}
.header_logo{

}